# Add all fingerprint in one file by Speedo(verified)
# imported by  /vendor.connectivity.rc

on property:persist.sys.fingersense=1
    write /sys/devices/platform/huawei_sensor/set_fingersense_enable 1

on property:persist.sys.fingersense=0
    write /sys/devices/platform/huawei_sensor/set_fingersense_enable 0

on boot

    chown system system /sys/devices/platform/huawei_sensor/set_fingersense_enable
    chmod 0660 /sys/devices/platform/huawei_sensor/set_fingersense_enable
    chown system system /sys/devices/platform/huawei_sensor/fingersense_req_data
    chmod 0660 /sys/devices/platform/huawei_sensor/fingersense_req_data
    chown system system /sys/devices/platform/huawei_sensor/fingersense_data_ready
    chmod 0440 /sys/devices/platform/huawei_sensor/fingersense_data_ready
    chown system system /sys/devices/platform/huawei_sensor/fingersense_latch_data
    chmod 0440 /sys/devices/platform/huawei_sensor/fingersense_latch_data

      chmod  0660  /dev/fingerprint
      chown  system  system  /dev/fingerprint
      chmod  0660  /sys/devices/platform/fingerprint/irq
      chown  system  system  /sys/devices/platform/fingerprint/irq
      chown  system system /sys/devices/platform/fingerprint/fingerprint_chip_info
	  
on property:sys.boot_completed=1

service keystore /system/bin/keystore /data/misc/keystore
    class main
    user keystore
    group keystore drmrpc

service fingerprintd /system/bin/fingerprintd
    class late_start
    user system
