on early-init

on init

on early-fs

on fs

on post-fs

on post-fs-data

    mkdir /data/gps 775 gps system
    mkdir /data/log/gps_log 775 gps system
    mkdir /data/log/gps_log/.tmp 775 gps system
    mkdir /data/log/gps_log/gps 775 gps system
    mkdir /data/log/gps_log/lhd 775 gps system

    chmod 775 /data/gps/gpsconfig.xml
    chown system system /data/gps/gpsconfig.xml
 
    chown system system /data/gps
    chmod 775 /data/gps
	chmod 660 /data/gps/.flp.interface.pipe.to_gpsd
    chmod 660 /data/gps/.flp.interface.pipe.to_jni
    chmod 660 /data/gps/.gps.interface.pipe.to_gpsd
    chmod 660 /data/gps/.gps.interface.pipe.to_jni
    chmod 660 /data/gps/.pipe.gpsd_to_lhd.to_client
    chmod 660 /data/gps/.pipe.gpsd_to_lhd.to_server

    mkdir /data/hwzd_logs
    mkdir /data/hwzd_logs/gps_log
    chown root system /data/hwzd_logs
    chmod 775 /data/hwzd_logs
    chmod 775 /data/hwzd_logs/gps_log
on early-boot

on boot
	start gpsdaemon

	chown root system /dev/ttyAMA3
    chmod 0664 /dev/ttyAMA3
    chown root system /dev/gpstty
    chmod 0664 /dev/gpstty
    chown gps system /dev/appvcom9
    chmod 0660 /dev/appvcom9
    chown root system /proc/gps/nstandby
    chmod 0664 /proc/gps/nstandby
    
service gpsdaemon /system/bin/gpsdaemon
    class late_start
    oneshot

service gpsd_47531  /system/bin/glgps47531 -c /data/gps/gpsconfig.xml
    socket gps seqpacket 660 gps system
    class late_start
    user gps
    group system inet sdcard_rw wakelock
    disabled
